body {
    font-family: 'GT Haptik';
    background-color: #D7FFC2;
}

@font-face {
    font-family: 'GT Haptik';
    src: url(../fonts/gt_haptik_regular.woff2);
}

.KortAlive {
    text-align: center;
}

.AliveMap {
    max-width: 100%;
}