body {

    background-color: #2E4428;
}

/* Fonts */
@font-face {
    font-family: 'GT Haptik';
    src: url(../fonts/gt_haptik_regular.woff2);
}

.favorite-btn {
    margin-top: 5px;
}

ul {
    padding: 0;
}