body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2E4428;


    background-color: #2E4428;
}

/* Fonts */
@font-face {
    font-family: 'GT Haptik';
    src: url(../fonts/gt_haptik_regular.woff2);
}

.favorite-btn {
    margin-top: 5px;
}

ul {
    padding: 0;
}

.card-music {
    margin-top: 2rem !important;

}

.underoverskrift {
    color: #ffffdf;
}

footer {
    margin-top: 2rem !important;
}