body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Header*/

header:not(.hero) {
    text-align: center;
    background-color: #ffffdf;
    font-size: 36px;
    padding: 10px 15px;
    border-bottom: 1px solid #2e4428;
}

/* Cards om events */
.card-music {
    display: flex;
    background-color: #ffb3e8;
    flex-direction: row;
    margin: 5px;
    max-height: 100px;
    width: 100%;
    margin-inline: auto;
}

.card-img {
    min-height: 100px;
    width: 100px;
    object-fit: cover;

}

.Info-tekst {
    display: flex;
    flex-direction: column;
    justify-content: right;
    line-height: 0.1;
    padding-left: 10px;
    font-size: 10px;
    max-width: 280px;


}

h4 {
    font-size: 26px;
    margin-left: auto;
    padding: 2px;
}

h1 {
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
}

hr {
    width: 190px;
    color-scheme: black;
}

.tidspunkt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: grid-end;
}

.favorite-btn {
    max-width: 20px;
    max-height: 20px;

}



/* Footer */
.ikon {
    height: 30px;
    width: 30px;
    padding: 10px;
}

.ikon-alive {
    height: 40px;
    width: 40px;
    padding: 5px;

}

ul {
    background-color: #ffffdf;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}