body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2e4428;
    color: #ffffdf;
}

header {

    background-color: #2e4428;
    font-size: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #ffb3e8;
    color: #ffffdf;

}


/* Accordion styles */
.accordion {
    margin: 16px 12px;
    border-bottom: 1px solid #ffb3e8;
}

.see-more {
    color: #ffffdf;
    width: 100%;
    background: #2e4428;
    border: none;
    text-align: left;
    font-size: 18px;
    padding: 12px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    outline: none;
}

.extra-content {
    display: none;
    padding-top: 10px;
}

.extra-content.show {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 300px;
    flex: 1;

}

.extra-content p {
    margin: 0;
    line-height: 1.5;
}

.alle-ikon {
    width: 30px;
    height: auto;
}

.arrow {
    transition: transform 0.3s ease;
    color: #ffb3e8;
}

.arrow.rotate {
    transform: rotate(90deg);
}

.alle-billetter {
    height: 100px;
}